.sanjiao{
    /* border: 50px solid #ccc; */
    /* transparent 透明色 */
    border-top: 50px solid transparent;
    border-left: 0 solid green;
    border-bottom: 50px solid transparent;
    border-right: 50px solid skyblue;
    width: 0;
    height: 0;
    margin: 50px auto;
}

.dialog{
    background-color: #6A6;
    margin: 50px auto;
    width: 300px;
    height: 25px;
    line-height: 25px;
    padding: 10px;
    border-radius: 6px;
    color: #fff;
    position:relative;
}

.dialog::before{
    content: '';
    border-top: 10px solid transparent;
    border-left: 0 solid #6A6;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #6A6;
    position:absolute;
    left: -10px;
    top: 14px;
}